body{
    margin: 20px;
	background-color:lightblue;

}


table
{ 
    
    margin-left: 50px;
	border: 2px solid black;
	border-radius: 5px;
	background: #fc3;
}

form
{
	background-color:#fff;
	width:700px;
	border-style: solid;
	border-width: 10px;
	align: center;
}
section
{
		border-style: none;
}

th
{
	text-align: center
}
h1
{
	margin-left: 140px;
	background-color:black;
	color: white;
	border-radius: 5px;
	width:450px;
}
p
{
	font-weight: bold;

}
hr{
    display:block;
    height:15px;
    background-color: lightblue;
	border-radius: 10px;
}
button
{
	border-radius: 10px;
	outline: none;
}
td
{
	text-align: center;
	border-style: solid;
}
th
{
	border-style: solid;
}

.righbut{
    margin-top: 8px;
    margin-left: 20px;

}
